{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container mb-3 py-4">
<h1 class="text-center">Contact Us</h1>
<form method="post" action="/Contact">
{% csrf_token %}
  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" name="name" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
   
    </div>
   
  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label for="email">Email Id</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="abcd@gmail.com" required >
      <div class="invalid-tooltip">
        Please provide a valid Email Id.
      </div>
    </div>
    
    <div class="form-group col-md-6 mb-3">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" id="phone" name="phone" required>
      <div class="invalid-tooltip">
        Please provide a valid Phone Number.
      </div>
    </div>
  </div>
  <button class="btn btn-primary col-md-1.5 " type="submit">Submit form</button>
</form>
</div>

<style>
  .container{
    color: beige;
  }
</style>
{% endblock body %}
